<footer class="footer text-center border-top p-4">
    <div class="row">
        <div class="col-12 pb-2">
            <h5>Apple Market, Saint-Petersburg. <a href="support"><img src="/img/headset.svg" width="22" alt=""> Поддержка</a></h5>
        </div>
        <h5 id="time">Total load time: <strong>{{ time }} ms</strong> (server) + </h5>
    </div>
</footer>