<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="iphone"><span class="device">iPhone</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="macbook"><span class="device">Mac</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="ipad"><span class="device">iPad</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="watch"><span class="device">Аксессуары</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="chat.html"><span class="device">Чат</span></a>
    </li>
</ul>