<!DOCTYPE html>
<html lang="ru">
<head>
    {{> common }}
    <link rel="stylesheet" href="/css/ipad.css">
</head>
<body>
    <div class="wrapper">
        {{> header }}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--<h3 class="name">Apple iPad 10,2" (2021) Wi-Fi + Cellular 256 ГБ, серый космос</h3>-->
                        <h3 class="name">{{name}}</h3>
                    </div>
                </div>
                <div class="row gy-3 justify-content-center">
                    <div class="col-xl-6 col-12 text-center">
                        <img src="/img/ipad-more.jpg" width="400" alt="">
                    </div>
                    <div class="col-xl-6 col-12 text-phone row flex-column justify-content-between p-3 gy-3">
                        <!--<p>
                            Мощный. Простой в использовании. Универсальный и доступный. Создан специально для ваших любимых занятий. Работайте, играйте, творите, учитесь, общайтесь и делайте множество других дел.
                        </p>-->
                        <p>{{description}}</p>
                        <div class="row">
                            <div class="col-6">
                                <!--<h3>100500 ₽</h3>-->
                                <h3>{{price}} ₽</h3>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success float-end buy">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>