@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black !important;
}

.navbar {
    background: #fff;
    border-bottom: 1px solid #ababab;
    font-size: 20px;
}

.modal-body {
    padding: 10px;
}

.tright {
    text-align: right;
}

.basket2 {
    display: none;
}

.basket2:hover .device {
    color: #ea4848;
    transition: 0.4s;
}

.navbar .nav-link:hover .device {
    color: #ea4848;
    transition: 0.4s;
}

.navbar .navbar-brand:hover .brand-name {
    color: #ea4848;
    transition: 0.4s;
}

img {
    max-width: 100%;
}

.nav-item::after, .brand-name::after  {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c0baba;
    transition: 0.3s;
    border-radius: 1px;
}

.nav-item:hover::after, .brand-name:hover::after {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 1 0 auto;
}

.name {
    margin-bottom: 90px;
}

p {
    font-size: 26px;
}

.text-phone {
    border-radius: 15px;
    background: whitesmoke;
}

.buy {
    margin-bottom: 20px;
    width: 70%;
}

.footer {
    flex: 0 0 auto;
    background: ghostwhite;
}

footer a {
    color: #093081 !important;
}

.active-item {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .nav-item:hover::after {
        width: 0;
    }
    .basket {
        display: none;
    }
    .basket2 {
        display: block;
    }
    p {
        font-size: 18px;
    }
    .name {
        margin-bottom: 40px;
    }
}