@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black !important;
}

.container {
    background: white;
}

.navbar {
    background: #fff;
    border-bottom: 1px solid #ababab;
    font-size: 20px;
}

.device {
    color: #000000;
}

.modal-body {
    padding: 10px;
}

.tright {
    text-align: right;
}

.active-item {
    #color: #ea4848 !important;
    font-weight: bold;
}

.login-button {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
}

.basket2 {
    display: none;
}

.basket2:hover .device {
    color: #ea4848;
    transition: 0.4s;
}

.navbar .nav-link:hover .device {
    color: #ea4848;
    transition: 0.4s;
}

.navbar .navbar-brand:hover .brand-name {
    color: #ea4848;
    transition: 0.4s;
}

.album {
    margin-bottom: 80px;
    font-size: 24px;
}

.meta {
    font-size: smaller;
    color: #999;
}

.products {
    border-radius: 8px;
}

.products:hover {
    box-shadow: 0 0 10px black;
    transition: 0.3s;
}

img {
    max-width: 100%;
}

.nav-item::after, .brand-name::after  {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c0baba;
    transition: 0.3s;
    border-radius: 1px;
}

.nav-item:hover::after, .brand-name:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .nav-item:hover::after {
        width: 0;
    }
    .about p {
        font-size: 18px !important;
    }
    .basket {
        display: none;
    }
    .basket2 {
        display: block;
    }
}

@media (max-width: 992px) {
    .album {
        font-size: 18px;
        margin-bottom: 50px;

    }
}

.my-carousel {
    padding: 0;
    margin-bottom: 50px;
}

.my-carousel .carousel-item {
    max-height: 50vh;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}

.about {
    margin-bottom: 30px;
}

.about p {
    font-size: 26px;
    text-align: justify;
}

.about img {
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    background: ghostwhite;
}

footer a {
    color: #093081 !important;
}